body {
	background-image: url("../images/bg1.png");
}


#whole_page {
	/*background-color: #CCCCCC;*/
	/*color:            #000000;*/
}

#top_buffer {
	height:  36px;
}

.page_body {
	background-color: #4BE579;
	color:            #000000;
}

#header {
	text-align: center;
}

#footer {
	text-align: center;
}


/* Review those below later  They may still be useful */

html fieldset {
	position:       relative;
	margin-top:     1em;
	padding-top:    2em;
	padding-bottom: 2em;
}



/* form styles */

label {
	width:        10em;
	float:        left;
	text-align:   right;
	margin-right: 0.2em;
	display:      block;
}

.form_row {
	white-space:    nowrap;
	padding-bottom: 0.5em;
}

.submit {
	margin-left: 15em;
}


/* flash notice style */

#notice {
	padding:          20px;
	border-style:     solid;
	border-color:     black;
	border-width:     2px;
	background-color: red;
	color:            white;
	width:            400px;
	font-family:      Arial;
	font-weight:      bold;
}
